body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* Agrega esto para que el cuerpo ocupe toda la altura de la ventana */
    overflow: hidden; /* Agrega esto para evitar la aparición de scroll en la ventana */
  }

#parametros {
    flex: 1;
    min-width: 400px;
    max-width: 50%;
    height: 100vh;
    background: #76d275;
    overflow-y: auto;
}


#map {
    height: 100vh;
    flex-basis: 0;
    flex-grow: 999;
    overflow: hidden; /* Agrega esto para evitar la aparición de scroll en el mapa */
}

#map iframe {
    width: 100%;
    height: 100%;
    border: none;
}


#title {
    text-align: center;
    margin: 10px 0;
}

.inner {
    padding: 10px;
}

#detail {
    display: none;
    margin-top: 50px;
}

#detail th, #detail td {
    padding: 10px;
}

.card-custom {
	background-color: #fff;
	padding: 10px 15px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

#pesan-btn {
    display: block;
    margin: auto;
}

.rotate-icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  .rotate-icon.down {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .rotate-icon.up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }


.btn-lg {
font-size: 1.5rem;
padding: 0.5rem 2rem;
}

.my-3 {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}
  
/*------------------------------------------------------ */


/*
  .card-body form {
  width: 100%;
  margin: 0;
  padding: 10px;
}

.card-body form label {
  display: block;
  margin-bottom: 5px;
}

.card-body form input[type="text"],
.card-body form input[type="email"],
.card-body form input[type="tel"] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.card-body form button[type="submit"] {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}*/

  